* {
  box-sizing:border-box;
}

body {
  margin: 0;
  padding: 0;
  background: #ffffff;
  font-family: arial, helvetica;
  font-family: -apple-system,"system-ui";
}

h1 {
  font-size: 60px;
  padding:20px;
  margin: 0;
  float: left;
  position: relative;
  color:#999999;
}

h1 .beta {
  position: absolute;
  left: 66%;
  top: 33%;
  color: #ff0000;
  font-size: 36px;
  transform: rotate(-10deg);
}

h1 span {
  color:#999999;
  font-style:italic;
}

h2 {
  background: #333333;
  color: #ffffff;
  margin: 0;
  padding: 0;
  height: 30px;
  line-height: 30px;
  font-size: 20px;
  font-size: 16px;
  border-bottom: solid 1px #d0d0d0;
}

h3 {
  text-align: center;
  font-size: 30px;
  text-decoration: underline;
  margin: 20px;
}
h4 {
    margin-bottom: 0px;
    padding-top: 20px;
    border-top: dashed 1px #0073aa;
}

/* ===================================================================================================== */

#settings-button {
  position: absolute;
  right: 15px;
  top: 15px;
}

#settings {
  clear: both;
  overflow: hidden;
  position: relative;
}

#settings #close-button {
  position: absolute;
  right: 15px;
  top: 15px;
  font-size: 30px;
  border: none;
  background: transparent;
  cursor: pointer;  
}

#settings .inside {
  background: #c0c0c0;
  padding: 0 20px;
  border-top: solid 1px #000000;
  border-bottom: solid 1px #000000;
  margin-bottom: 40px;
  overflow: hidden;
}

#settings .setting {
  float: left;
  width: 50%;
}

#settings .general-description {
  text-align:center;
  padding-bottom: 30px;
  margin-top: -10px;
  width: 100%;
  color: #666;
}

#settings .setting-boxes {
  display: flex;
  border-top: 0;
}

#settings .setting-flow {
  border-bottom: 0;
}

#settings .settings-title {
  float: left;
  font-weight: bold;
  white-space: nowrap;
  color:#008a20;
  text-decoration: underline;
  padding-bottom: 10px;
}

#settings .button {
  margin: 5px 10px 0 0;
  cursor: pointer;
}

#settings .float-mode-description {
  display: none;
  padding-left: 116px;
}
#settings .general-description,
#settings .float-mode-description,
#settings .reset-setting {
  clear: both;
  font-size: 13px;
  color: #444;  
}

#settings .reset-setting {
  padding-left: 23px;
}

#settings .reset-settings.button{
  width: 140px;
}

#settings .version {
  text-align: center;
  padding-top: 30px;
  clear: both;
  width: 100%;
}

.box-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.box-list li {
  margin: 0 15px 5px 5px;
  padding: 0;
  float: left;
}

.box-list li input {
  margin-right: 5px;
}

#settings p {
  font-size: 12px;
}

/* ===================================================================================================== */

.boxes {
  clear: both;
  position: relative;
}

.box {
  background: #e0e0e0;
  min-width: 300px;
  height: auto;
  top: 100px;
  float: left;
  overflow: hidden;
  position: absolute;
  border: solid 1px #d0d0d0;
  cursor: move;
  margin-bottom: 20px;
  border-radius: 2px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.float-mode .box {
  cursor: default;
}

.box > h2 {
  background-position: 5px center;
  background-repeat: no-repeat;
  background-size: auto 80%;
  padding-left: 35px;
}

.box-actions {
  float:right;
}

.box-actions > span {
  float: right;
  height: 30px;
  line-height: 30px;
  background: transparent;
  border: 0;
  margin: 0 5px;
  text-align: center;
  font-family: arial, helvetica;
}

.box[data-status='0'] {display: none;}
.box[data-status='1'] {height: auto !important;}
.box[data-status='1'] .inner {display: none;}
.box[data-status='1'] .collapse {display: none;}
.box[data-status='1'] .show {display: block;}
.box .show,
.box[data-status='2'] .show {display: none;}

.box .inner {
  padding: 10px;
}
.box label {
  height: 34px;
  line-height: 34px;
  padding-right: 5px;
  white-space: nowrap;
  font-size: 14px;
  width: 70px;
  text-align: right;
  float: left;
}

.box input[type="text"],.box textarea {
  height: 30px;
  font-size: 14px;
  flex: 1;
  font-family: arial,helvetica;
  padding: 0 5px;
  min-width: 10px;
  margin-right: 10px;
  border: solid 1px #c0c0c0;
  box-shadow: 0 0 10px inset #e0e0e0;
}

.box textarea {
  height: 100px;
  font-size: 14px;
  font-family: helvetica, arial;
  padding: 5px;
}

.box input[type="submit"],button.button {
  height: 30px;
  background-color: #21759b;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#2a95c5), to(#21759b));
  background-image: -webkit-linear-gradient(top, #2a95c5, #21759b);
  background-image: -moz-linear-gradient(top, #2a95c5, #21759b);
  background-image: -ms-linear-gradient(top, #2a95c5, #21759b);
  background-image: -o-linear-gradient(top, #2a95c5, #21759b);
  background-image: linear-gradient(to bottom, #2a95c5, #21759b);
  border: solid 1px #21759b;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 0 rgba(120,200,230,0.5);
  box-shadow: inset 0 1px 0 rgba(120,200,230,0.5);
  color: #fff;
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(0,0,0,0.1);
  min-width: 100px;
  font-size: 16px;
}

.box input[type="submit"].woo-button {
  background-color: #96588A;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#A16996), to(#96588A));
  background-image: -webkit-linear-gradient(top, #A16996, #96588A);
  background-image: -moz-linear-gradient(top, #A16996, #96588A);
  background-image: -ms-linear-gradient(top, #A16996, #96588A);
  background-image: -o-linear-gradient(top, #A16996, #96588A);
  background-image: linear-gradient(to bottom, #A16996, #96588A);
  border: solid 1px #96588A;
}

.box input[type="submit"].jetpack-button {
  background-color: #55BB43;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#66cc55), to(#55BB43));
  background-image: -webkit-linear-gradient(top, #66cc55, #55BB43);
  background-image: -moz-linear-gradient(top, #66cc55, #55BB43);
  background-image: -ms-linear-gradient(top, #66cc55, #55BB43);
  background-image: -o-linear-gradient(top, #66cc55, #55BB43);
  background-image: linear-gradient(to bottom, #66cc55, #55BB43);
  border: solid 1px #55BB43;
}

.box select {
  height: 30px;
}

.box input[type="password"], .box input[type="text"], .box textarea {
  flex:1;
}

.box .fields {
  margin: 10px 0;
}

.box p {
  display: flex;
}

.box .multiple-fields {
  display: block;
}

.box .multiple-fields label,
.box .multiple-fields input,
.box .multiple-fields select {
  margin: 0 0 5px 0;
  width: 75%;
}

.box .multiple-fields label {
  width: 24%;
}

/* ===================================================================================================== */

#translate .inner {
  height: calc(100% - 45px);
}

#translate .inner p,
#translate .inner textarea {
  height: 100%;
  resize: none;
}

#translate .inner textarea {
  min-height: 200px;
}

/* ===================================================================================================== */


#search-support-guides h2 {background-image:url('images/icon-automattic-3.png');}
#search-public-resources h2 {background-image:url('images/icon-wordpress.png');}
#fieldguide h2 {background-image:url('images/icon-automattic.png');}
#matts-global-search h2 {background-image:url('images/icon-matt.jpeg');}
#darc h2 {background-image:url('images/icon-darc.png');}
#google-support h2 {background-image:url('images/icon-wordpress.png');}
#google-forum h2 {background-image:url('images/icon-wp.png');}
#gsuite h2 {background-image:url('images/icon-garc.png');}
#wordads h2 {background-image:url('images/icon-wordads.png');}
#logstash h2 {background-image:url('images/icon-logstash.png');}
#coupons h2 {background-image:url('images/icon-coupon.png');}
#jetpack h2 {background-image:url('images/icon-jetpack.png');}
#kibana h2 {background-image:url('images/icon-kibana.png');}
#university h2 {background-image:url('images/icon-university.png');}
#network-admin h2 {background-image:url('images/icon-wp.png');}
#woo h2 {background-image:url('images/icon-woo.png');}
#woopayments h2 {background-image:url('images/icon-woopayments.png');}
#sales h2 {background-image:url('images/icon-sales.png');}
#payments h2 {background-image:url('images/icon-payments.png');}
#store-admin h2 {background-image:url('images/icon-moneybag.png');}
#blaze h2 {background-image:url('images/icon-bitcoin.png');}
#mailpoet h2 {background-image:url('images/icon-mailpoet.png');}
#translate h2 {background-image:url('images/icon-google.png');background-size:auto 67%;  padding-left: 100px;}

/* ===================================================================================================== */

body.dark-mode {
  background:#111111;
}

body.dark-mode h1 {
  color:#efefef;
}

body.dark-mode .box {
  background: #333333;
  border: solid 1px #555555;
  color: #ffffff;
}

body.dark-mode .box a {
  color:#6abaff;
}

body.dark-mode h2 {
  background-color: #aaaaaa;
  color: #000000;
  border-bottom: solid 1px #000000;
}

body.dark-mode input[type="text"],body.dark-mode textarea {
  border: solid 1px #404040;
}

body.dark-mode #settings .inside {
  border-top: solid 1px #ffffff;
  border-bottom: solid 1px #ffffff;
}

body.dark-mode h4 {
    margin-bottom: 0px;
    padding-top: 20px;
    border-top: dashed 1px #c0c0c0;
}

/* ===================================================================================================== */

body.float-mode .box {
  position: static !important;
  margin-left: 15px;
  float: left;
  width: 405px !important;
}

body.float-mode .reset-setting {
  display: none;
}

body.float-mode #settings .float-mode-description {
  display: block;
}

/* ===================================================================================================== */

@media screen and (min-width: 1001px) {

  #settings .settings-title {
    width: 100%;
    display:block;
    margin-bottom: 5px;
  }

  #settings .setting-boxes {
    display: block;
    padding-right: 20px;
  }

  #settings .all-boxes {
    clear: both;
  }  

  #settings .all-boxes li {
    margin-left: -5px;
  }

  #settings .setting-mode {
    border-bottom: solid 1px #888;
    padding-bottom: 20px;
  }

  #settings .setting-flow {
    padding-top: 20px;
    border-top: solid 1px #ddd;
  }  

  #settings .float-mode-description,
  #settings .reset-setting {
    padding-top: 10px;
  }  

}

/* ===================================================================================================== */

@media screen and (max-width: 1000px) {
  #settings .setting {
    width: 100%;
    clear: both;
    border-bottom: solid 1px #888;
    border-top: solid 1px #ddd;
    padding: 15px 0 5px;
  }

  #settings .general-description {
    border-top: 0;
    padding-top: 5px;
    padding-bottom: 20px;
  }

  #settings .setting-flow {
    padding-bottom: 15px;
  }

  #settings .float-mode-description,
  #settings .reset-setting {
    padding-top:5px;
    padding-left: 20px;
  }

  #settings .version {
    border-bottom: 0;
    margin-top: 0;
  }  
}